<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/SignUp.css">
    <!-- <script type="module" src="./signupnew.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/MyInfo.js"></script>
</head>

<body>
    <div class="container">
        <h2 style="height: 50px; margin-left: 20%; font-size: 2vw; text-align: center; color:#383838;">마이페이지</h2>
        <form name="signupform" action="#" method="POST">

            <input type="text" placeholder="성명" name="User_name" class="User_name" maxlength="15" value="<%= user.User_name %>"><br /><br />

            <input type="text" placeholder="별명" name="User_nickname" class="User_nickname" maxlength="15" value="<%= user.User_nickname %>"><br /><br />

            <input type="date" id="User_birth" class="User_birth" name="User_birth" value="<%= user.User_birth %>" min="1960-01-01" max="2021-12-31">

            <select id="User_gender" name="User_gender" class="User_gender" aria-label="성별"> 
                <option value="<%= user.User_gender %>" selected="<%= user.User_gender %>">성별</option>
                        <option value=1>남자</option>
                        <option value=0>여자</option>
            </select><br /><br/>

            <!-- 관심국가는 마이페이지로 이동 -->
            <!-- 관심국가/자기소개글은 마이페이지에서 -->

            <input type="text" placeholder="관심국가 1" name="prefer_nation1" class="prefer_nation1" maxlength="15"><br /><br />

            <input type="text" placeholder="관심국가 2" name="prefer_nation2" class="prefer_nation2" maxlength="15"><br /><br />

            <input type="text" placeholder="관심국가 3" name="prefer_nation3" class="prefer_nation3" maxlength="15"><br /><br />

            <br /><br />
            <button class="submit" type="button" onclick="modifyMyInfo()">수정하기<br /><br />
        </form>
    </div>
</body>

</html>