<!DOCTYPE html>
<html lang="en">

<head>
    <title>activity page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/Activity.js"></script>

    <%- include ("../layout/header") %>
</head>

<body>
    <%- include ("../layout/top") %>
        <!--Top4 액티비티!-->
        <section class="ftco-section-ac">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-md-7 heading-section ftco-animate">
                        <h2 class="mb-4" style="margin-top:10%;"><strong>Top4 액티비티! </strong> </h2>
                    </div>
                </div>

                <div class="row">

                    <% for(let j=0;j<rank.length;j++){ %>
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <span class="notify-badge"> <%= j+1 %>위</span>
                            <div class="destination">
                                <form action="http://localhost:3000/Activity/DetailActivity/" method="POST">
                                    <input type="hidden" id="At_code" name="At_code" value="<%= rank[j].At_code %>">
                                    <button class="movebutton" style="border:none; background-color: #ffffff; width:100%;" type="submit">
                                    <a class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/restaurant-1.jpg);">
                                        <div class="icon d-flex justify-content-center align-items-center">
                                            <span class="icon-search2"></span>

                                        </div>
                                    </a>
                                </button>
                                </form>
                                <div class="text p-3 ac-text">
                                    <p class="bottom-area d-flex">
                                        <span>
                                    <% if(rank[j].User_country=="프랑스") { %>
                                    <img class="flag" src="https://countrywisecodes.com//css/img/flags/FR-square.png">
                                    <% } else if(rank[j].User_country=="대한민국") { %>
                                        <img class="flag" style="height:100%;" src="https://countrywisecodes.com//css/img/flags/KR-square.png">
                                        <% } else if(rank[j].User_country=="독일") { %>
                                            <img class="flag" src="https://countrywisecodes.com//css/img/flags/DE-square.png">
                                            <% } else if(rank[j].User_country=="미국/캐나다") { %>
                                                <img class="flag" src="https://countrywisecodes.com//css/img/flags/US-square.png">
                                                <% } else if(rank[j].User_country=="스페인") { %>
                                                    <img class="flag" src="https://countrywisecodes.com//css/img/flags/ES-square.png">
                                                    <% } else if(rank[j].User_country=="중화인민공화국") { %>
                                                        <img class="flag" src="https://countrywisecodes.com//css/img/flags/CN-square.png">
                                            <% } else if(rank[j].User_country=="영국") { %>
                                                <img class="flag" src="https://countrywisecodes.com//css/img/flags/GB-square.png">
                                                <% } %>
                                    <strong><%= rank[j].User_name %></strong>
                                </span>
                                    </p>
                                    <p class="activity">
                                        <%= rank[j].At_title %>
                                    </p>
                                    <p class="bottom-area d-flex">
                                        <span class="dday"> D-12 &nbsp; &#124 &nbsp; <%= rank[j].At_currentNumber %> / <%= rank[j].At_recruitNumber %> </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% } %>

                </div>
            </div>
        </section>


        <!--액티비티 전체보기-->
        <button type="button" id="toWriteActivity" onclick="toWriteActivityPage()">액티비티작성</button>

        <!-- row1-->
        <section class="ftco-section-ac">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-md-7 heading-section ftco-animate">
                        <h2 class="mb-4"><strong>액티비티 전체보기 </strong> </h2>
                    </div>
                </div>

                <div class="row">


                    <% if(actdata.length>0){ %>
                        <% for(let i=0;i<actdata.length;i++){ %>
                            <div class="col-md-6 col-lg-3 ftco-animate">
                                <% for(let j=0;j<rank.length;j++){ %>
                                    <% if(actdata[i].At_currentNumber==actdata[i].At_recruitNumber) { %>
                                        <div class="close-badge">마감</div>
                                        <% }else if(actdata[i].At_code==rank[j].At_code){ %>
                                            <span class="notify-badge"><%= j+1 %>위</span>
                                            <% } %>
                                                <% } %>
                                                    <% actdata[i].At_title %>
                                                        <div class="destination ac">
                                                            <form action="http://localhost:3000/Activity/DetailActivity/" method="POST">
                                                                <input type="hidden" id="At_code" name="At_code" value="<%= actdata[i].At_code %>">
                                                                <button class="movebutton" style="border:none; background-color: #ffffff; width:100%;" type="submit">
                                                                <a class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/restaurant-1.jpg);">
                                                                    <div class="icon d-flex justify-content-center align-items-center">
                                                                        <span class="icon-search2"></span>

                                                                    </div>
                                                                </a>
                                                            </button>
                                                            </form>
                                                            <div class="text p-3 ac-text">
                                                                <p class="bottom-area d-flex">
                                                                    <span>
                                                                        <% if(actdata[i].User_country=="프랑스") { %>
                                                                        <img class="flag" src="https://countrywisecodes.com//css/img/flags/FR-square.png">
                                                                        <% } else if(actdata[i].User_country=="대한민국") { %>
                                                                            <img class="flag" style="height:100%;" src="https://countrywisecodes.com//css/img/flags/KR-square.png">
                                                                            <% } else if(actdata[i].User_country=="독일") { %>
                                                                                <img class="flag" src="https://countrywisecodes.com//css/img/flags/DE-square.png">
                                                                                <% } else if(actdata[i].User_country=="미국/캐나다") { %>
                                                                                    <img class="flag" src="https://countrywisecodes.com//css/img/flags/US-square.png">
                                                                                    <% } else if(actdata[i].User_country=="스페인") { %>
                                                                                        <img class="flag" src="https://countrywisecodes.com//css/img/flags/ES-square.png">
                                                                                        <% } else if(actdata[i].User_country=="중화인민공화국") { %>
                                                                                            <img class="flag" src="https://countrywisecodes.com//css/img/flags/CN-square.png">
                                                                                <% } else if(actdata[i].User_country=="영국") { %>
                                                                                    <img class="flag" src="https://countrywisecodes.com//css/img/flags/GB-square.png">
                                                                                    <% } %>
                                    <strong><%= actdata[i].User_name %></strong>
                                </span>
                                                                </p>
                                                                <p class="activity">
                                                                    <%= actdata[i].At_title %>
                                                                </p>
                                                                <p class="bottom-area d-flex">
                                                                    <span class="dday"> D-12 &nbsp; &#124 &nbsp; <%= actdata[i].At_currentNumber %> / <%= actdata[i].At_recruitNumber %> </span>
                                                                </p>
                                                            </div>
                                                        </div>
                            </div>

                            <%}%>
                                <%}%>

                </div>
            </div>
        </section>

        <!-- row2-->
        <section class="ftco-section-ac2">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="destination ac">
                            <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/restaurant-1.jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3 ac-text">
                                <p class="bottom-area d-flex">
                                    <span>
                                    <img class="flag" src="https://countrywisecodes.com//css/img/flags/DE-square.png">
                                    <strong>gutentaghallo</strong>
                                </span>
                                </p>
                                <p class="activity">찐 독일인과 함께 독일 학센을 만들어봅시다! Willkommen!
                                </p>
                                <p class="bottom-area d-flex">
                                    <span class="dday"> D-12 &nbsp; &#124 &nbsp; 0/3</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <span class="notify-badge">2위</span>
                        <div class="destination ac">
                            <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/restaurant-1.jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3 ac-text">
                                <p class="bottom-area d-flex">
                                    <span><img class="flag" src="https://countrywisecodes.com//css/img/flags/DE-square.png">
                                    <strong>gutentaghallo</strong>
                                </span>
                                </p>
                                <p class="activity">찐 독일인과 함께 독일 학센 먹자!</p>
                                <p class="bottom-area d-flex">
                                    <span class="dday"> D-12 &nbsp; &#124 &nbsp; 0/3</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="close-badge" style="">마감</div>
                        <div class="destination ac">
                            <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/restaurant-1.jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3 ac-text">
                                <p class="bottom-area d-flex ">
                                    <span><img class="flag" src="https://countrywisecodes.com//css/img/flags/DE-square.png">
                                    <strong>gutentaghallo</strong>
                                </span>
                                </p>
                                <p class="activity">찐 독일인과 함께 독일 학센을 만들어봅시다! Willkommen!</p>
                                <p class="bottom-area d-flex">
                                    <span class="dday"> D-12 &nbsp; &#124 &nbsp; 0/3</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="destination ac">
                            <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/restaurant-1.jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3 ac-text">
                                <p class="bottom-area d-flex ">
                                    <span><img class="flag" src="https://countrywisecodes.com//css/img/flags/DE-square.png">
                                    <strong>gutentaghallo</strong>
                                </span>
                                </p>
                                <p class="activity">찐 독일인과 함께 독일 학센을 만들어봅시다! Willkommen!</p>
                                <p class="bottom-area d-flex">
                                    <span class="dday"> D-12 &nbsp; &#124 &nbsp; 0/3</span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--row3-->
        <section class="ftco-section-ac2">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="destination ac">
                            <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/restaurant-1.jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3 ac-text">
                                <p class="bottom-area d-flex">
                                    <span>
                                    <img class="flag" src="https://countrywisecodes.com//css/img/flags/DE-square.png">
                                    <strong>gutentaghallo</strong>
                                </span>
                                </p>
                                <p class="activity">찐 독일인과 함께 독일 학센을 만들어봅시다! Willkommen!
                                </p>
                                <p class="bottom-area d-flex">
                                    <span class="dday"> D-12 &nbsp; &#124 &nbsp; 0/3</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="destination ac">
                            <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/restaurant-1.jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3 ac-text">
                                <p class="bottom-area d-flex">
                                    <span><img class="flag" src="https://countrywisecodes.com//css/img/flags/DE-square.png">
                                    <strong>gutentaghallo</strong>
                                </span>
                                </p>
                                <p class="activity">찐 독일인과 함께 독일 학센 먹자!</p>
                                <p class="bottom-area d-flex">
                                    <span class="dday"> D-12 &nbsp; &#124 &nbsp; 0/3</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="destination ac">
                            <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/restaurant-1.jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3 ac-text">
                                <p class="bottom-area d-flex ">
                                    <span><img class="flag" src="https://countrywisecodes.com//css/img/flags/DE-square.png">
                                    <strong>gutentaghallo</strong>
                                </span>
                                </p>
                                <p class="activity">찐 독일인과 함께 독일 학센을 만들어봅시다! Willkommen!</p>
                                <p class="bottom-area d-flex">
                                    <span class="dday"> D-12 &nbsp; &#124 &nbsp; 0/3</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <span class="notify-badge">4위</span>
                        <div class="destination ac">
                            <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/restaurant-1.jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3 ac-text">
                                <p class="bottom-area d-flex ">
                                    <span><img class="flag" src="https://countrywisecodes.com//css/img/flags/DE-square.png">
                                    <strong>gutentaghallo</strong>
                                </span>
                                </p>
                                <p class="activity">찐 독일인과 함께 독일 학센을 만들어봅시다! Willkommen!</p>
                                <p class="bottom-area d-flex">
                                    <span class="dday"> D-12 &nbsp; &#124 &nbsp; 0/3</span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <%- include ("../layout/footer") %>
</body>

</html>