<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>내 피드에 신청한 사람들 목록</title>
    <script src="/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/MyInfo.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
    <%- include ("../layout/header") %>
</head>

<body>
    <%- include ("../layout/top") %>
        <div class="container">

            <div class="full-admin">
                <!--상위 카테고리-->
                <div class="admin-menu">호스트 관리</div>
                <hr class="admin-menu-hr">

                <!--하위 카테고리-->
                <div class="admin-menu2">

                    <button type="button" id="toReplyToMyPid" onclick="toReplyToMyPid()">댓글 관리</button>

                    <button type="button" id="toApplyToMyPid" onclick="toApplyToMyPid()">수락 및 거절</button>

                </div>
                <div class="admin-menu2-2"> </div>


                <!--박스-->
                <hr class="admin-box-hr">

                <% if (applyToMyPid) {%>
                    <% for(let i=0;i<applyToMyPid.length;i++){ %>

                        <div class="admin-pic">
                            <img src="#" onerror="this.src='/images/user-man.png'">
                        </div>

                        <div class="admin-box">

                            <div class="admin-small-t2">
                                <span class="admin-title"><%= applyToMyPid[i].Pid_title %></span>
                            </div>
                            <div class="admin-t2">
                                <span class="admin-flag">
                                    <% if(applyToMyPid[i].User_country=="프랑스") { %>
                                        <img class="flag" src="https://countrywisecodes.com//css/img/flags/FR-square.png">
                                        <% } else if(applyToMyPid[i].User_country=="대한민국") { %>
                                            <img class="flag" style="height:100%;" src="https://countrywisecodes.com//css/img/flags/KR-square.png">
                                            <% } else if(applyToMyPid[i].User_country=="독일") { %>
                                                <img class="flag" src="https://countrywisecodes.com//css/img/flags/DE-square.png">
                                                <% } else if(applyToMyPid[i].User_country=="미국/캐나다") { %>
                                                    <img class="flag" src="https://countrywisecodes.com//css/img/flags/US-square.png">
                                                    <% } else if(applyToMyPid[i].User_country=="스페인") { %>
                                                        <img class="flag" src="https://countrywisecodes.com//css/img/flags/ES-square.png">
                                                        <% } else if(applyToMyPid[i].User_country=="중화인민공화국") { %>
                                                            <img class="flag" src="https://countrywisecodes.com//css/img/flags/CN-square.png">
                                                            <% } else if(applyToMyPid[i].User_country=="영국") { %>
                                                                <img class="flag" src="https://countrywisecodes.com//css/img/flags/GB-square.png">
                                                                <% } %></span>
                                <span class="admin-name"><%= applyToMyPid[i].User_name %></span> 님이 동행을 신청하셨습니다.
                            </div>

                            <% if(applyToMyPid[i].Pa_enter == 0){ %>
                                <form name="AcceptApply" action="#" method="POST">
                                    <input type="hidden" class="Pa_code" name="Pa_code" value="<%= applyToMyPid[i].Pa_code %>">
                                    <button class="submit" id="host-accept" type="button" onclick="acceptApply()"><img src="/images/accept.png"></button>
                                </form>

                                <form name="RejectApply" action="#" method="POST">
                                    <input type="hidden" class="Pa_code" name="Pa_code" value="<%= applyToMyPid[i].Pa_code %>">
                                    <button class="submit" id="host-deny" type="button" onclick="rejectApply()"><img src="/images/deny.png"></button>
                                </form>
                                <% } else if(applyToMyPid[i].Pa_enter==1){ %>
                                    <p> 거절하셨습니다 </p>
                                    <% } else if (applyToMyPid[i].Pa_enter==2){ %>
                                        <p> 수락하셨습니다. </p>
                                        <% } %>
                                            <% } %>
                                                <% } %>
                                                    <hr class="admin-t2-hr">


                                                    <!--  여기서부터는 액티비티 출력  -->
                                                    <% if (applyToMyActivity>0) {%>
                                                        <% for(let h=0;h<applyToMyActivity.length;h++){ %>

                                                            <div class="admin-pic">
                                                                <img src="#" onerror="this.src='/images/user-woman.png'">
                                                            </div>

                                                            <div class="admin-small-t2">
                                                                <span class="admin-title"><%= applyToMyActivity[h].At_title %></span>
                                                            </div>
                                                            <div class="admin-t2">
                                                                <span class="admin-flag">(국기)</span>
                                                                <span class="admin-name"><%= applyToMyActivity[h].User_name %></span> 님이 액티비티를 신청하셨습니다.
                                                            </div>

                                                            <% if(applyToMyActivity[i].Aa_enter == 0){ %>
                                                                <form name="AcceptApply" action="#" method="POST">
                                                                    <input type="hidden" id="Aa_code" class="Aa_code" name="Aa_code" value="<%= applyToMyActivity[h].Aa_code %>">
                                                                    <button class="submit" id="host-accept" type="button" onclick="acceptApplyActivity()"><img src="/images/accept.png"></button>
                                                                </form>

                                                                <form name="RejectApply" action="#" method="POST">
                                                                    <input type="hidden" id="Aa_code" class="Aa_code" name="Aa_code" value="<%= applyToMyActivity[h].Aa_code %>">
                                                                    <button class="submit" id="host-deny" type="button" onclick="rejectApplyActivity()"><img src="/images/deny.png"></button>
                                                                </form>
                                                                <% } else if(applyToMyActivity[h].Aa_enter==1){ %>
                                                                    <p> 거절하셨습니다 </p>
                                                                    <% } else if (applyToMyActivity[h].Aa_enter==2){ %>
                                                                        <p> 수락하셨습니다. </p>
                                                                        <% } else if (applyToMyActivity[h].Aa_enter==3){ %>
                                                                            <button type="botton" class="activity-pay"><img src="/images/activity-pay.png"></button>
                                                                            <% } %>
                                                                                <hr class="admin-t2-hr">
                                                                                <% } %>
                                                                                    <% } %>
</body>

</div>
</div>
</div>

<%- include ("../layout/footer") %>
    </body>

</html>