<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>동행신청 목록</title>
    <script src="/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/MyInfo.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

    <div>
        <%=user.User_name%>님 안녕하세요</div>
    <button id="logout" onclick="location.href = '/User/logout'">로그아웃</button>
    <button type="button" id="toMainPage" onclick="toMainPage()">메인으로</button>

    <div class="container">
        <div class="full-admin">
            <!--상위 카테고리-->
            <div class="admin-menu">활동 관리</div>
            <hr class="admin-menu-hr">

            <!--하위 카테고리-->
            <div class="admin-menu2">
                <a href="guest-comment.html">내가 쓴 댓글</a>
                <a href="guest-accept.html">신청 내역</a>
            </div>
            <div class="admin-menu2-2"> </div>

            <!--박스-->
            <hr class="admin-box-hr">
            <div class="admin-box">


                <% if (applypiddata) {%>

                    <% for(let i=0;i<applypiddata.length;i++){ %>
                        <div class="admin-pic">
                            <img src="#" onerror="this.src='images/user-man.png'">
                        </div>
                        <div class="admin-small-t2">
                            <span class="admin-name">(이름)</span> 님의 동행
                        </div>
                        <div class="admin-t2">
                            <span class="admin-flag">(국기)</span>
                            <span class="admin-title"><%= applypiddata[i].Pid_title %></span>
                        </div>
                        <button type="botton" class="guest-deny"><img src="images/guest-deny.png"></button>
                        <hr class="admin-t2-hr">

                        <% } %>
                            <% } %>

                                <div class="admin-pic">
                                    <img src="#" onerror="this.src='images/user-woman.png'">
                                </div>
                                <div class="admin-small-t2">
                                    <span class="admin-name">(이름)</span> 님의 동행
                                </div>
                                <div class="admin-t2">
                                    <span class="admin-flag">(국기)</span>
                                    <span class="admin-title">(글 제목)</span>
                                </div>
                                <button type="botton" class="guest-accept"><img src="images/guest-accept.png"></button>
                                <hr class="admin-t2-hr">


                                <div class="admin-pic">
                                    <img src="#" onerror="this.src='images/user-woman.png'">
                                </div>
                                <div class="admin-small-t2">
                                    <span class="admin-name">(이름)</span> 님의 동행
                                </div>
                                <div class="admin-t2">
                                    <span class="admin-flag">(국기)</span>
                                    <span class="admin-title">(글 제목)</span>
                                </div>
                                <button type="botton" class="guest-wait"><img src="images/waiting.png"></button>
                                <hr class="admin-t2-hr">


                                <div class="admin-pic">
                                    <img src="#" onerror="this.src='images/user-man.png'">
                                </div>
                                <div class="admin-small-t2">
                                    <span class="admin-name">(이름)</span> 님의 액티비티
                                </div>
                                <div class="admin-t2">
                                    <span class="admin-flag">(국기)</span>
                                    <span class="admin-title">(글 제목)</span>
                                </div>

                                <button type="botton" class="activity-pay"><img src="images/activity-pay.png"></button>
                                <hr class="admin-t2-hr">

            </div>
        </div>
    </div>

    <% if (applypiddata) {%>

        <% for(let i=0;i<applypiddata.length;i++){ %>
            <p> 내가 동행 신청한 타이틀 :
                <%= applypiddata[i].Pid_title %>
                    <%= applypiddata[i].Pid_content %>
                        <%= applypiddata[i].Pid_currentNumber %>
                            <%= applypiddata[i].Pid_recruitNumber %>
            </p>

            <p>동행 수락 여부 :</p>
            <% if(applypiddata[i].Pa_enter==2){ %>
                <p>
                    수락됨!
                </p>
                <% } else if(applypiddata[i].Pa_enter==1){ %>
                    <p>거절됨!</p>
                    <% } else if (applypiddata[i].Pid_recruitNumber==applypiddata[i].Pid_currentNumber) {%>
                        <p> 아쉽게도 모집이 마감되었어요 </p>
                        <% } else{ %>
                            <p>대기중..</p>
                            <% } %>
                                <% } %>
                                    <% }else{ %>
                                        <p> 동행신청한 목록이 없습니다. </p>
                                        <% } %>


                                            <% if (applyactivitydata) {%>

                                                <% for(let i=0;i<applyactivitydata.length;i++){ %>
                                                    <p> 내가 동행 신청한 타이틀 :
                                                        <%= applyactivitydata[i].At_title %>
                                                            <%= applyactivitydata[i].At_content %>
                                                    </p>

                                                    <p>동행 수락 여부 :</p>
                                                    <% if(applyactivitydata[i].Aa_enter==2){ %>
                                                        <p>
                                                            수락됨!
                                                        </p>
                                                        <form action="http://localhost:3000/MyPage/toPayment" method="POST">
                                                            <input type="hidden" id="At_code" name="At_code" value="<%= applyactivitydata[i].At_code %>">
                                                            <button type="submit">결제하기</button>
                                                        </form>
                                                        <% } else if(applyactivitydata[i].Aa_enter==1){ %>
                                                            <p>거절됨!</p>
                                                            <% } else if(applyactivitydata[i].Aa_enter==3){ %>
                                                                <p>결제함!</p>
                                                                <% } else if (applyactivitydata[i].At_recruitNumber==applyactivitydata[i].At_currentNumber) {%>
                                                                    <p> 아쉽게도 모집이 마감되었어요 </p>
                                                                    <% } else{ %>
                                                                        <p>대기중..</p>
                                                                        <% } %>
                                                                            <% } %>
                                                                                <% }else{ %>
                                                                                    <p> 신청한 액티비티 목록이 없습니다. </p>
                                                                                    <% } %>

</body>

</html>