<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>액티비티 결제</title>
    <!-- <script type="module" src="./signupnew.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/Activity.js"></script>
    <%- include ("./layout/header") %>
</head>

<body>
    <%- include ("./layout/top") %>
        <div class="container">

            <h2 style="height: 50px; margin-left: 20%; font-size: 2vw; text-align: center; color:#383838;">결제</h2>


            <div>
                글 작성자 :
                <%= user.User_name %>
                    <br> 글작성자 닉네임 :
                    <%= user.User_nickname %>
                        <br> 글 작성자 국가:
                        <%= user.User_country  %>
            </div>
            <div>
                타이틀 :
                <%= atdata.At_title %>
                    <br> 내용 :
                    <%= atdata.At_content %>
                        <br> 디데이:
                        <%= 
                    atdata.At_dday %>
            </div>

            <form name="applyactivityform" action="#" method="POST">
                <input type="hidden" id="At_code" class="At_code" name="At_code" value="<%= atcode %>">
                <button class="submit" type="button" onclick="payforactivity()">결제 하기</button>
            </form>

        </div>

        <%- include ("../layout/footer") %>
</body>

</html>