<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>내 피드에 댓글달린 목록</title>
    <script src="/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/MyInfo.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
    <%- include ("../layout/header") %>
</head>

<body>
    <%- include ("../layout/top") %>[]

        <div class="container">
            <div class="full-admin">
                <!--상위 카테고리-->
                <div class="admin-menu">호스트 관리</div>
                <hr class="admin-menu-hr">

                <!--하위 카테고리-->
                <div class="admin-menu2">

                    <button type="button" id="toReplyToMyPid" onclick="toReplyToMyPid()">댓글 관리</button>

                    <button type="button" id="toApplyToMyPid" onclick="toApplyToMyPid()">수락 및 거절</button>

                </div>
                <div class="admin-menu2-1"> </div>


                <!--박스-->
                <hr class="admin-box-hr">


                <% if (replyToMyPid) {%>
                    <% for(let i=0;i<replyToMyPid.length;i++){ %>
                        <div class="admin-box">

                            <div class="admin-small-t1">
                                <span class="admin-name"><%= replyToMyPid[i].Pr_author %></span> 님의 댓글
                            </div>
                            <div class="admin-t1">
                                <span class="admin-flag">
                                    <% if(replyToMyPid[i].User_country=="프랑스") { %>
                                    <img class="flag" src="https://countrywisecodes.com//css/img/flags/FR-square.png">
                                    <% } else if(replyToMyPid[i].User_country=="대한민국") { %>
                                        <img class="flag" style="height:100%;" src="https://countrywisecodes.com//css/img/flags/KR-square.png">
                                        <% } else if(replyToMyPid[i].User_country=="독일") { %>
                                            <img class="flag" src="https://countrywisecodes.com//css/img/flags/DE-square.png">
                                            <% } else if(replyToMyPid[i].User_country=="미국/캐나다") { %>
                                                <img class="flag" src="https://countrywisecodes.com//css/img/flags/US-square.png">
                                                <% } else if(replyToMyPid[i].User_country=="스페인") { %>
                                                    <img class="flag" src="https://countrywisecodes.com//css/img/flags/ES-square.png">
                                                    <% } else if(replyToMyPid[i].User_country=="중화인민공화국") { %>
                                                        <img class="flag" src="https://countrywisecodes.com//css/img/flags/CN-square.png">
                                            <% } else if(replyToMyPid[i].User_country=="영국") { %>
                                                <img class="flag" src="https://countrywisecodes.com//css/img/flags/GB-square.png">
                                                <% } %>
                                </span>
                                <%= replyToMyPid[i].Pr_content %>
                            </div>
                            <hr class="admin-t1-hr">
                        </div>
                        <% } %>
                            <% } %>

            </div>
        </div>
        <%- include ("../layout/footer") %>
</body>

</html>