<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>feed</title>
    <link rel="stylesheet" href="/css/style_feed.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/WritePid.js"></script>
    <%- include ("../layout/header") %>
</head>

<body>
    <%- include ("../layout/top") %>
        <!--글 작성하기, 아이콘 수정 필요-->

        <!-- search bar -->
        <div class="full-index">
            <div class="boxContainer">
                <form name="searchbutton" action="#" method="post" class="d-block d-flex">

                    <div class="elementsContainer">
                        <input type="text" placeholder="내가 꿈꾸던 동행을 검색해보세요." class="searchContent" style="width:100%; border:none;">
                    </div>

                    <button class="submit" id="searchPid" type="button" onclick="searchSomePid()" style="border:none; border-radius:20px; height:100%; margin-top:1%;">

                        <input type="image" src="/images/search.png" id="search_icon" alt="search">

                    </button>

                </form>
            </div>
        </div>


        <!--글 작성하기, 아이콘 수정 필요-->

        <!--필터-->
        <div class="filter_feed" style="margin-left:35%;">
            <span style="margin-right: 2px;">

                <% if(intcountry.length>0) { %>
                    관심국가
                    <% }else{ %>
                        관심국가를 설정해주세요
                        <% } %>
            </span>
            <img src="/images/f.png" style="width: 1.5%; margin-right: 50px;">
            <input type="checkbox" class="filter_1_feed"><span style="margin-top: -18px; margin-left: 5px; margin-right: 20px;">
                            
                                <% if(intcountry.length>0) { %>
                                    <%= intcountry[0].Country_name %>
                                        <% }else{ %>
                                                ㅁ
                                            <% } %></span>

            <input type="checkbox" class="filter_2_feed"><span style="margin-top: -18px; margin-left: 5px; margin-right: 20px;">
                            
                                <% if(intcountry.length>1) { %>
                                    <%= intcountry[1].Country_name %>
                                        <% }else{ %>
                                                ㅁ
                                            <% } %></span>

            <input type="checkbox" class="filter_3_feed"><span style="margin-top: -18px; margin-left: 5px; margin-right: 20px;">
                                <% if(intcountry.length>2) { %>
                                    <%= intcountry[2].Country_name %>
                                        <% }else{ %>
                                            ㅁ
                                            <% } %></span>
        </div>

        <button type="button" class="but_write_feed"><img src="/images/write.png" style="width: 10%; margin-right: 5px; margin-bottom: 2px;">동행 글 작성하기</button>

        <% if(data) { %>
            <% for(let i=0;i<data.length;i++){ %>
                <div class="contest_feed">
                    <img src="/images/profile.jpg" style="margin-top: 15px; width: 10%; border-radius: 70%; float: left;">
                    <p class="profile_nicname_feed">
                        <%= user.User_nickname %>
                    </p>


                    <div class="contest_body">
                        <span class="contest_title_feed"><%= data[i].Pid_title %>
                </span><br>

                        <form name="applypidform" action="#" method="POST">
                            <input type="hidden" id="Pid_code" class="Pid_code" name="Pid_code" value="<%= data[i].Pid_code %>">
                            <button class="but_apply_feed" type="button" onclick="applyPid()">
                        <img src="/images/check.png" style="margin-bottom: 1px; margin-right: 3px; width: 18%;"> 동행신청</button>
                        </form>
                        <br>
                        <span class="contest_body_feed">
                    <%= data[i].Pid_content %>
            </span>
                        <!--디데이 표시랑 '현재 인원/모집 총 인원' 표시해야함. 우선 이렇게만 넣어둠!-->
                        <p style="color: gray; font-weight: lighter;">D-() |
                            <%= data[i].Pid_currentNumber %> /
                                <%= data[i].Pid_recruitNumber %>
                        </p>

                    </div>

                    <hr class="one_feed">

                    <form name="likeupform" action="#" method="POST">
                        <input type="hidden" id="Pid_code" name="Pid_code" class="Pid_code" value="<%= data %>">
                        <input type="hidden" id="Pid_good" name="Pid_good" class="Pid_good" value="<%= data[i].Pid_good %>">
                        <button class="submit" type="button" onclick="likeUp()"></button>
                    </form>
                    <div class="like_feed">
                        <img src="/images/good.png" style="width: 4%; float: left;">
                        <p class="like_good_feed">
                            <%= data[i].Pid_good %>
                        </p>
                        <img src="/images/1.png" style="margin-left: 10px; width: 4%; float: left;">

                        <p class="like_com_feed">
                            <%= data.length %>
                        </p>
                        <script type="text/javascript">
                            var i = 0;

                            function toggle_object(post_id) {
                                i = i + post_id;
                                var obj = document.getElementById('test');
                                if (!obj) return;

                                if (i % 2 != 0) {
                                    obj.src = "/images/i.png";

                                } else {
                                    obj.src = "/images/e.png";
                                }
                            }
                        </script>
                        <a href="#" onclick="toggle_object(1); return false;"> <img src="/images/e.png" style="width: 4%; margin-left: 10px; margin-top: 3px; margin-bottom: 35px;" id="test" /> </a>
                    </div>

                    <% for(let j=0;j<piddata.length;j++){ %>
                        <% if(piddata[j].Pid_code==data[i].Pid_code ) { %>
                            <div class="comment-row_feed" style="padding-left:15%;">
                                <img src="/images/profile.jpg" style="width: 3%; border-radius: 70%; float: left;">
                                <div class="comment_profile_feed">
                                    <%= piddata[j].Pr_author %>
                                </div>
                                <div class="comment-date_feed">
                                    <%= piddata[j].Pr_writeDate%>
                                </div>
                                <div class="comment-content_feed">
                                    <%= piddata[j].Pr_content %>
                                </div>
                            </div><br>
                            <% } %>
                                <% } %>

                                    <form name="writeform" action="#" method="POST" style="margin-left:15%;">
                                        <!-- 내용 -->

                                        <textarea id="new-comment_feed" name="new-comment_feed" name="Pid_content" class="Pid_content" rows=5 placeholder="댓글을 입력해주세요." style="width:30%;"></textarea>
                                        <br /><br />
                                        <input type="hidden" id="Pid_code" name="Pid_code" class="Pid_code" value="<%= data[i].Pid_code %>">

                                        <button class="but_comment_feed" type="button" onclick="writeReply()" style="width:100px; padding-top:30px;">댓글달기<br /><br />
        </form>

        </div>
        <% } %>
        <% } %>
        </div>
        </div>
        <div class="finish_feed" style="width:30%;">

            <p style="margin-top: 2%; font-weight: bold; font-size: 25px;">마감이 얼마 안 남았어요!</p>
            <% for(let k=0;k<sorted_good.length;k++){ %>
            <span>
            <p class="finish_title_feed"><%= sorted_good[k].Pid_title %></p>
            <p class="finish_content_feed"><%= sorted_good[k].Pid_content %></p>
            <!--여기도 수정 왕창 들어가야함-->
            <p style="font-weight: 300;"> 
                <% if(sorted_good[k].User_country=="프랑스") { %>
                    <img class="flag" src="https://countrywisecodes.com//css/img/flags/FR-square.png">
                    <% } else if(sorted_good[k].User_country=="대한민국") { %>
                        <img class="flag" style="height:100%;" src="https://countrywisecodes.com//css/img/flags/KR-square.png">
                        <% } else if(sorted_good[k].User_country=="독일") { %>
                            <img class="flag" src="https://countrywisecodes.com//css/img/flags/DE-square.png">
                            <% } else if(sorted_good[k].User_country=="미국/캐나다") { %>
                                <img class="flag" src="https://countrywisecodes.com//css/img/flags/US-square.png">
                                <% } else if(sorted_good[k].User_country=="스페인") { %>
                                    <img class="flag" src="https://countrywisecodes.com//css/img/flags/ES-square.png">
                                    <% } else if(sorted_good[k].User_country=="중화인민공화국") { %>
                                        <img class="flag" src="https://countrywisecodes.com//css/img/flags/CN-square.png">
                            <% } else if(sorted_good[k].User_country=="영국") { %>
                                <img class="flag" src="https://countrywisecodes.com//css/img/flags/GB-square.png">
                                <% } %>
                                | <%= sorted_good[k].User_nickname %> | D-() | <%= sorted_good[k].Pid_currentNumber %></p>
            <img src="/images/good.png" style="width: 18px; float: left;">
            <p class="finish_good_feed"><%= sorted_good[k].Pid_good %></p>
            <img src="/images/1.png" style="width: 18px; float: left; margin-left: 6%;">
            <p class="finish_com_feed"> 4 </p>
            <hr class="one" style="margin-top: 5%;">
            </span>
            <% } %>
        </div>

        <%- include ("../layout/footer") %>

</body>

</html>